/* body{
    margin: 0;
    padding: 0;
}


#root{
    color: red;
}

#header{
    width: 100%;
    display: flex;
    flex-direction: row;
    
    text-align: center;
    justify-content: space-between;
    
}

.search{
    height: 50%;
    margin-top: 50px;
} */

.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}

.logo {
  width: 120px;
}

.nav-items {
  padding: 0px 20px;
}

.nav-items > ul {
  font-size: 26px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  padding: 5px;
  width: 254px;
  height: 400px;
  border: 2px solid black;
  text-align: center;
  margin: 5px;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid blue;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
  height: 40%;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
  background-color: grey;
}

.searchSection {
  margin: 10px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.shimmer-card {
  margin: 20px;
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
  align-items: center;
  
}


.login{
    padding: 0 20px;
    cursor: pointer;
    margin-top: 15px;
}

.filter{
    display: flex;
    justify-content: center;
}

.user-card{
  padding: 10px;
  border: 2px solid black;
}
